<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Client Code Level Breakup</title>
    <link rel="stylesheet" href="../style/style.css" />
  </head>
  <body>
    {% include 'partials/header.html' %}

    <div class="container">
      <div class="title">Client Code Level Breakup</div>
      <div class="black-line"></div>

      <table>
        <thead>
          <tr>
            <th>Investment Client Code Name</th>
            <th>Risk Profile</th>
            <th>Current Value(₹)</th>
            <th>Investment Value(₹)</th>
            <th>Weightage(%)</th>
            <th>Total Gain/Loss(₹)</th>
            <th>Current Asset Allocation</th>
            <th>Model Asset Allocation</th>
          </tr>
        </thead>
        <tbody>
          {% for client in clients %}
          <tr>
            <td>{{ client.name }}</td>
            <td>{{ client.risk_profile }}</td>
            <td>{{ client.current_value }}</td>
            <td>{{ client.investment_value }}</td>
            <td>{{ client.weightage }}</td>
            <td>{{ client.total_gain_loss }}</td>
            <td>
              <div class="allocation-text">
                <span class="red">Debt</span>
                <span class="blue">Equity</span>
                <span class="grey">Others</span>
              </div>

              <div class="allocation-bar">
                <div class="segment red" style="width: 100%">
                  {{ client.target_asset_allocation.debt }}
                </div>
                <div class="segment blue" style="width: 100%">
                  {{ client.target_asset_allocation.equity }}
                </div>
                <div class="segment grey" style="width: 100%">
                  {{ client.target_asset_allocation.others }}
                </div>
              </div>

              <div class="allocation-values">
                <span>{{ client.current_asset_allocation.debt }}%</span>
                <span>{{ client.current_asset_allocation.equity }}%</span>
                <span>{{ client.current_asset_allocation.others }}%</span>
              </div>
            </td>
            <td>
              <div class="allocation-text">
                <span class="red">Debt</span>
                <span class="blue">Equity</span>
                <span class="grey">Others</span>
              </div>

              <div class="allocation-bar">
                <div class="segment red" style="width: 100%">
                  {{ client.target_asset_allocation.debt }}
                </div>
                <div class="segment blue" style="width: 100%">
                  {{ client.target_asset_allocation.equity }}
                </div>
                <div class="segment grey" style="width: 100%">
                  {{ client.target_asset_allocation.others }}
                </div>
              </div>

              <div class="allocation-values">
                <span> {{ client.target_asset_allocation.debt }}%</span>
                <span> {{ client.target_asset_allocation.equity }}%</span>
                <span> {{ client.target_asset_allocation.others }}%</span>
              </div>
            </td>
          </tr>
          {% endfor %}

          <tr class="bold-row">
            <td>Total</td>
            <td></td>
            <td>{{ "{:,.2f}".format(total.current_value) }}</td>
            <td>{{ "{:,.2f}".format(total.investment_value) }}</td>
            <td>{{ '{:.2f}'.format(total.weightage) }}</td>
            <td>{{ "{:,.2f}".format(total.total_gain_loss) }}</td>
            <td colspan="2"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
