<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Credit Cards</title>
    <link rel="stylesheet" href="../style/style.css" />
  </head>
  <body>
    <img
      class="icici-logo"
      src="../assets/images/headerImage.png"
      alt="ICICI Logo"
    />
    <div class="private-banking">Private Banking</div>
    <div class="yellow-line"></div>

    <div class="container">
      <div class="title">Credit Cards</div>
      <div class="black-line"></div>
      <table>
        <thead>
          <tr>
            <th>Card Type</th>
            <th>Payment Due Date</th>
            <th>Credit Card Number</th>
            <th>Credit Limit</th>
            <th>Cash Limit</th>
            <th>Available Credit Limit</th>
            <th>Minimum Amount Due</th>
            <th>Total Amount Due</th>
          </tr>
        </thead>
        <tbody>
          {% for card in credit_cards %}
          <tr>
            <td>{{ card.card_type }}</td>
            <td>{{ card.payment_due_date }}</td>
            <td>{{ card.credit_card_number }}</td>
            <td>{{ card.credit_limit }}</td>
            <td>{{ card.cash_limit }}</td>
            <td>{{ card.available_credit_limit }}</td>
            <td>{{ card.minimum_amount_due }}</td>
            <td>{{ card.total_amount_due }}</td>
          </tr>
          {% endfor %} {% if total %}
          <tr class="bold-row">
            <td>Total</td>
            <td colspan="2"></td>
            <td>{{ total.credit_limit }}</td>
            <td></td>
            <td>{{ total.available_credit_limit }}</td>
            <td>{{ total.minimum_amount_due }}</td>
            <td>{{ total.total_amount_due }}</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </body>
</html>
