<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Debt Mutual Fund Instrument Summary</title>
    <link rel="stylesheet" href="../style/style.css" />
    <style>
      .bold-row {
        font-weight: bold;
        background-color: #fff2f2;
      }

      .bold-row-client {
        font-weight: bold;
        background-color: #fff2e8;
      }
    </style>
  </head>
  <body>
    {% include 'partials/header.html' %}

    <div class="container">
      <div class="title">Debt Mutual Fund Instrument Level Summary</div>
      <div class="black-line"></div>
      <table>
        <thead>
          <tr>
            <th>Scheme Name</th>
            <th>Folio No.</th>
            <th>Date of Investment</th>
            <th>Invested Amount</th>
            <th>Dividend/Received</th>
            <th>No. of Units</th>
            <th>Last Updated Nav</th>
            <th>Current Market Value</th>
            <th>Unrealised (Gain/Loss)</th>
            <th>Realised (Gain/Loss)</th>
            <th>IRR Since Inception</th>
            <th>IRR FYTD</th>
          </tr>
        </thead>
        <tbody>
          {% set previous_type = '' %} {% for row in investment_details %} {% if
          row.types != previous_type %} {% if row.types != "Liquid" %}
          <tr class="bold-row-client">
            <td colspan="12">{{ row.accounts }}</td>
          </tr>
          {% endif %}
          <tr class="bold-row">
            <td colspan="12">{{ row.types }}</td>
          </tr>
          {% set previous_type = row.types %} {% endif %}

          <tr
            class="{% if row.particular == 'Total Assets' %}total-row{% endif %}"
          >
            <td>{{ row.scheme_name }}</td>
            <td>{{ row.folio_no or '' }}</td>
            <td>{{ row.date_of_investment or '' }}</td>
            <td>{{ row.invested_amount or '' }}</td>
            <td>{{ row.dividends_received or '' }}</td>
            <td>{{ row.no_of_units or '' }}</td>
            <td>{{ row.last_updated_nav or '' }}</td>
            <td>{{ row.current_market_value or '' }}</td>
            <td>{{ row.unrealized_gain_loss or '' }}</td>
            <td>{{ row.realized_gain_loss or '' }}</td>
            <td>{{ row.irr_since_inception or '' }}</td>
            <td>{{ row.irr_ytd or '' }}</td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
