<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Debt Analysis</title>
    <link rel="stylesheet" href="../style/style.css" />
  </head>
  <body>
    {% include 'partials/header.html' %}

    <div class="container">
      <div class="title">Debt Analysis</div>
      <div class="black-line"></div>
      <table>
        <thead>
          <tr>
            <th>Particulars</th>
            <th>Holding Cost</th>
            <th>Current Value</th>
            <th>Holding</th>
            <th>Gain/Loss Realized(₹)</th>
            <th>Dividend/Interest(₹)</th>
            <th>Gain/Loss Unrealized(₹)</th>
            <th>IRR %</th>
          </tr>
        </thead>
        <tbody>
          {% for item in debt_analysis_response %}
          <tr>
            <td>{{ item.particulars }}</td>
            <td>{{ item.holdings_cost }}</td>
            <td>{{ item.current_value }}</td>
            <td>{{ item.holdings }}</td>
            <td>{{ item.gain_or_lose_realized }}</td>
            <td>{{ item.devident_or_interest }}</td>
            <td>{{ item.gain_or_lose_unrealized }}</td>
            <td>{{ item.irr }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
