<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Demat MF (Phase 1)</title>
    <link rel="stylesheet" href="../style/style.css" />
  </head>
  <body>
    {% include 'partials/header.html' %}

    <div class="container">
      <div class="title">Demat MF (Phase 1)</div>
      <div class="black-line"></div>
      <table>
        <thead>
          <tr>
            <th>Fund Name</th>
            <th>Asset Class-<br />Equity/Debt/Hybrid</th>
            <th>ISIN</th>
            <th>Reference No</th>
            <th>No of Units</th>
            <th>Market Price Per Share</th>
            <th>Investment Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for row in data %}
          <tr class="{% if row.fund_name == 'Total' %}bold-row{% endif %}">
            <td>{{ row.fund_name or '' }}</td>
            <td>{{ row.asset_class or '' }}</td>
            <td>{{ row.ISIN or '' }}</td>
            <td>{{ row.reference_no }}</td>
            <td>{{ row.no_of_units or '' }}</td>
            <td>{{ row.market_price_per_share or '' }}</td>
            <td>{{ row.investment_amont or '' }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
