<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Direct Equity Group 14 Summary</title>
    <link rel="stylesheet" href="../style/style.css" />
  </head>
  <body>
    {% include 'partials/header.html' %}

    <div class="container">
      <div class="title">Demat Stocks</div>
      <div class="black-line"></div>
      <table>
        <thead>
          <tr>
            <th>Stock Name</th>
            <th>Type Direct Equity<br />Stock/Bond/MF</th>
            <th>ISIN</th>
            <th>No of Units</th>
            <th>Market Price Per Share</th>
            <th>Current Market Value</th>
          </tr>
        </thead>
        <tbody>
          {% for row in data %}
          <tr>
            <td>{{ row.stock_name or '' }}</td>
            <td>{{ row.date or '' }}</td>
            <td>{{ row.ISIN or '' }}</td>
            <td>{{ row.no_of_units or '' }}</td>
            <td>{{ row.market_price_per_share or '' }}</td>
            <td>{{ row.current_market_value or '' }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
