<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Equity AIF Instrument Level Summary</title>
    <link rel="stylesheet" href="../style/style.css" />
  </head>
  <body>
    <img
      class="icici-logo"
      src="../assets/images/headerImage.png"
      alt="ICICI Logo"
    />
    <div class="private-banking">Private Banking</div>
    <div class="yellow-line"></div>

    <div class="container">
      <div class="title">Equity AIF Instrument Level Summary</div>
      <div class="black-line"></div>
      <table>
        <thead>
          <tr>
            <th>Instrument Name</th>
            <th>Fund Name</th>
            <th>Reference No.</th>
            <th>Investment Date</th>
            <th>Investment Amount</th>
            <th>Return of Capital</th>
            <th>Valuation Date</th>
            <th>Current Value</th>
            <th>Unrealized Gain/Loss(₹)</th>
            <th>Realized Gain/Loss</th>
            <th>XIRR(%)</th>
          </tr>
        </thead>
        <tbody>
          {% for item in summary %}
          <tr>
            <td>{{ item.instument_name or "—" }}</td>
            <td>{{ item.fund_name or "—" }}</td>
            <td>{{ item.reference_no or "—" }}</td>
            <td>{{ item.investment_date or "—" }}</td>
            <td>
              {{ "{:,.0f}".format(item.investment_amount|float) if
              item.investment_amount else "—" }}
            </td>
            <td>
              {{ "{:,.0f}".format(item.return_of_capital|float) if
              item.return_of_capital else "—" }}
            </td>
            <td>{{ item.valuation_date or "—" }}</td>
            <td>
              {{ "{:,.0f}".format(item.current_value|float) if
              item.current_value else "—" }}
            </td>
            <td>
              {{ "{:,.0f}".format(item.unrealized_gain_loss|float) if
              item.unrealized_gain_loss else "—" }}
            </td>
            <td>
              {{ "{:,.0f}".format(item.realized_gain_loss|float) if
              item.realized_gain_loss else "—" }}
            </td>
            <td>{{ item.xirr or "—" }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
