<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Investment Summary</title>
    <link rel="stylesheet" href="../style/style.css" />
  </head>
  <body>
    <div>
      <div class="title">Investment Summary</div>

      <div style="margin-bottom: 10px">
        <!-- Assets Section -->
        <div class="sub-header">
          <img src="../assets/images/assets.png" alt="Assets Icon" />
          Assets
        </div>
        <div class="black-line"></div>

        <table>
          <thead>
            <tr>
              <th>Particulars</th>
              <th>Holding Cost (₹)</th>
              <th>Current Value (₹)</th>
              <th>IRR Since Inception (%)</th>
            </tr>
          </thead>
          <tbody>
            {% for row in assets %} {% if row.particular == "Assets" or
            row.particular == "Total Assets" %}
            <tr class="bold-row">
              <td>{{ row.particular }}</td>
              <td>{{ row.holding_cost or '' }}</td>
              <td>{{ row.current_value or '' }}</td>
              <td>{{ row.irr or '' }}</td>
            </tr>
            {% else %}
            <tr>
              <td>{{ row.particular }}</td>
              <td>{{ row.holding_cost or '' }}</td>
              <td>{{ row.current_value or '' }}</td>
              <td>{{ row.irr or '' }}</td>
            </tr>
            {% endif %} {% endfor %}
          </tbody>
        </table>
      </div>

      <!-- Liabilities Section -->
      <div class="container">
        <div class="sub-header">
          <img src="../assets/images/assets.png" alt="Assets Icon" />
          Liabilities
        </div>
        <div class="black-line"></div>

        <table>
          <thead>
            <tr>
              <th>Particulars</th>
              <th>Loan/Credit Limit</th>
              <th>Outstanding Amount</th>
            </tr>
          </thead>
          <tbody>
            {% for row in liabilities %}
            <tr
              class="{% if row.particular.strip() == 'Total Liabilities' %}bold-row{% endif %}"
            >
              <td>{{ row.particular }}</td>
              <td>{{ row.loan_credit_limit or '' }}</td>
              <td>{{ row.outstanding_amount or '' }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
