<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hybrid Mutual Fund Instrument Summary</title>
    <link rel="stylesheet" href="../style/style.css" />
    <style>
      .bold-row {
        font-weight: bold;
        background-color: #fff2f2;
      }

      .bold-row-client {
        font-weight: bold;
        background-color: #fff2e8;
      }
    </style>
  </head>
  <body>
    {% include 'partials/header.html' %}

    <div class="container">
      <div class="title">Hybrid Mutual Fund Instrument Level Summary</div>
      <div class="black-line"></div>
      <table>
        <thead>
          <tr>
            <th>Scheme Name</th>
            <th>Folio No.</th>
            <th>Date of Investment</th>
            <th>Invested Amount</th>
            <th>Dividend/Received</th>
            <th>No. of Units</th>
            <th>Last Updated NAV</th>
            <th>Current Market Value</th>
            <th>Unrealised (Gain/Loss)</th>
            <th>Realised (Gain/Loss)</th>
            <th>IRR Since Inception</th>
            <th>IRR FYTD</th>
          </tr>
        </thead>
        <tbody>
          <tr class="bold-row-client">
            <td colspan="12">{{ client_name }}</td>
          </tr>
          <tr class="bold-row">
            <td colspan="12">Multi Asset Allocation</td>
          </tr>

          {% for item in multi_asset_allocation %}
          <tr
            class="{% if item.scheme_name | lower == 'total' %}bold-row{% endif %}"
          >
            <td>{{ item.scheme_name }}</td>
            <td>{{ item.folio_no }}</td>
            <td>{{ item.date_of_investment }}</td>
            <td>{{ item.invested_amount }}</td>
            <td>{{ item.dividends_received }}</td>
            <td>{{ item.no_of_units }}</td>
            <td>{{ item.last_updated_nav }}</td>
            <td>{{ item.current_market_value }}</td>
            <td>{{ item.unrealized_gain_loss }}</td>
            <td>{{ item.realized_gain_loss }}</td>
            <td>{{ item.irr_since_inception }}</td>
            <td>{{ item.irr_fytd }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
