<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Investment Summary</title>
    <link rel="stylesheet" href="../style/style.css" />
  </head>
  <body>
    {% include 'partials/header.html' %}

    <div class="container">
      <div class="title">Investment Summary</div>
      <div class="sub-header">
        <img src="../assets/images/assets.png" alt="Assets Icon" />
        Assets
      </div>
      <div class="black-line"></div>

      <table>
        <thead>
          <tr>
            <th>Particulars</th>
            <th>Investment Amount</th>
            <th>Holding Cost (₹)</th>
            <th>Current Value (₹)</th>
            <th>IRR Since Inception (₹)</th>
          </tr>
        </thead>
        <tbody>
          {% for section in investment_data %}
          <tr class="bold-row">
            <td>{{ section.category }}</td>
            <td>{{ section.investment_amount }}</td>
            <td>{{ section.holding_cost }}</td>
            <td>{{ section.current_value }}</td>
            <td>{{ section.irr }}</td>
          </tr>
          {% for sub in section.subcategories %}
          <tr class="subcategory-row">
            <td>{{ sub.particular }}</td>
            <td>{{ sub.investment_amount }}</td>
            <td>{{ sub.holding_cost }}</td>
            <td>{{ sub.current_value }}</td>
            <td>{{ sub.irr }}</td>
          </tr>
          {% endfor %} {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
