<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loans</title>
    <link rel="stylesheet" href="../style/style.css" />
  </head>
  <body>
    <img
      class="icici-logo"
      src="../assets/images/headerImage.png"
      alt="ICICI Logo"
    />
    <div class="private-banking">Private Banking</div>
    <div class="yellow-line"></div>

    <div class="container">
      <div class="title">Loans</div>
      <div class="black-line"></div>
      <table>
        <thead>
          <tr>
            <th>Loan Type</th>
            <th>Loan Account</th>
            <th>Loan Amount</th>
            <th>Tenure</th>
            <th>Maturity</th>
            <th>Outstanding</th>
            <th>EMI</th>
            <th>Composition</th>
          </tr>
        </thead>
        <tbody>
          {% for loan in loans %} {% if loan.loan_type == 'Total' %}
          <tr class="bold-row">
            <td>{{ loan.loan_type }}</td>
            <td colspan="2"></td>
            <td></td>
            <td></td>
            <td>{{ loan.outstanding }}</td>
            <td>{{ loan.EMI }}</td>
            <td></td>
          </tr>
          {% else %}
          <tr>
            <td>{{ loan.loan_type }}</td>
            <td>{{ loan.loan_account }}</td>
            <td>{{ loan.loan_amount }}</td>
            <td>{{ loan.tenure }}</td>
            <td>{{ loan.maturity }}</td>
            <td>{{ loan.outstanding }}</td>
            <td>{{ loan.EMI }}</td>
            <td>{{ loan.composition }}</td>
          </tr>
          {% endif %} {% endfor %}
        </tbody>
        {% if total %}
        <tr class="bold-row">
          <td>Total</td>
          <td colspan="2"></td>
          <td>{{ total.credit_limit }}</td>
          <td></td>
          <td>{{ total.loan_amount }}</td>
          <td>{{ total.outstanding }}</td>
          <td>{{ total.EMI }}</td>
        </tr>
        {% endif %}
      </table>
    </div>
  </body>
</html>
