<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        html, body {
            margin-top: 5rem;
            padding: 0;
            height: 600px;
            width: 1080px;
        }

        img.fullscreen-image {
            width: 100%;
            height: 100%;
            object-fit: fill; /* Ensures the image covers entire area while maintaining aspect ratio */
            display: block; 
        }
    </style>
</head>
<body>
    <img class="fullscreen-image" src="../assets/images/money_speak.png" alt="Thank You">
</body>
</html>
