<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio Analysis- Performance Summary</title>
    <link rel="stylesheet" href="../style/style.css" />
  </head>
  <body>
    <img
      class="icici-logo"
      src="../assets/images/headerImage.png"
      alt="ICICI Logo"
    />
    <div class="private-banking">Private Banking</div>
    <div class="yellow-line"></div>

    <div class="container">
      <div class="title">Portfolio Analysis- Performance Summary</div>
      <div class="black-line"></div>
      <table>
        <thead>
          <tr>
            <th>Particulars</th>
            <th>Holding Cost</th>
            <th>Current Value</th>
            <th>Holding%</th>
            <th>Gain/Loss Realized</th>
            <th>Dividend/Interest</th>
            <th>Gain/Loss Unrealized</th>
            <th>IRR Since Inception</th>
          </tr>
        </thead>
        <tbody>
          {% for section in data %}
          <tr class="bold-row">
            <td>{{ section.category }}</td>
            <td>{{ section.holding_cost }}</td>
            <td>{{ section.current_value }}</td>
            <td>{{ section.holdings }}</td>
            <td>{{ section.gain_or_lose_realized }}</td>
            <td>{{ section.devident_or_interest }}</td>
            <td>{{ section.gain_or_lose_unrealized }}</td>
            <td>{{ section.irr_since_interception }}</td>
          </tr>
          {% for sub in section.subcategories %}
          <tr class="subcategory-row">
            <td>{{ sub.particulars }}</td>
            <td>{{ sub.holding_cost }}</td>
            <td>{{ sub.current_value }}</td>
            <td>{{ sub.holdings }}</td>
            <td>{{ sub.gain_or_lose_realized }}</td>
            <td>{{ sub.devident_or_interest }}</td>
            <td>{{ sub.gain_or_lose_unrealized }}</td>
            <td>{{ sub.irr_since_interception }}</td>
          </tr>
          {% endfor %} {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
